{{define "title"}}Home{{end}} 
    

{{define "header"}}
{{template "nav" .}}
{{end}}

{{define "main"}}

<div class="home-container">
    {{if .Events}}
    <div class="table-container">
        <h2>Your Events</h2>
        <table class="event-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Details</th>
          <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {{range .Events}}
        <tr>
            <td><a href="/event/{{.ID}}">{{.Name}}</a></td>
            <td>{{.Details}}</td>
            <td>{{.ID}}</td>
        </tr>
        {{end}}
    </tbody>
  </table>
</div>
{{else}}
<p>No Events</p>
{{end}}



{{end}}
