{{define "title"}}Login{{end}}\

{{define "header"}}{{end}}

{{define "main"}}


<div class="login-background">

  <img class="logo" src="/static/img/synchro-logo-white.svg" />
  <div class="login-container">
    <h2>Log In</h2>
    <br /><br />

    <form action="/user/login" method="POST">
      {{range .Form.NonFieldErrors}}
      <div class="error">{{.}}</div>
      {{end}}
      <div class="login-form">
        <div>
          {{with .Form.FieldErrors.email}}
          <label class="error">{{.}}</label>
          {{end}}
          <input
            type="email"
            name="email"
            placeholder="Email Address"
            value="{{.Form.Email}}"
          />
        </div>

        <br />

        <div>
          {{with .Form.FieldErrors.password}}
          <label class="error">{{.}}</label>
          {{end}}
          <input
            type="password"
            name="password"
            placeholder="Password"
            value="{{.Form.Password}}"
          />
        </div>

        <br />
        <br />

        <div>
          <input class="login-btn" type="submit" value="Login" />
        </div>

        <div>
          <p>
            Don't have an account?
            <a class="signup-link" href="/user/signup">Register</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
{{end}}
