{{define "title"}}Event View{{end}} {{define "main"}}

<script>

    var unavailabilities = [];
    
    {{range .Unavailabilities}}
        unavailabilities.push({"eventId":"{{.EventId}}", "userId":"{{.UserId}}", "unavailabilityId":"{{.UnavailabilityId}}",
                                "allDay":"{{.AllDay}}",
                                "start":"{{.Start}}",
                                "end":"{{.End}}"
                            });
    {{end}}
</script>

<div class="view-container">
    <div class="calendar">
        {{template "calendar" .}}
    </div>

     <div class="tablet">
        {{template "tablet" .}}
    </div>
</div>



<script src="/static/js/tablet.js"></script>

<script src="/static/js/calendar.js"></script>

<script>
  window.onload = function () {
    document.getElementById("defaultOpen").click();
  };
  let selectedDate = document.querySelector(".unavailability-date-input").value.split("-");
  let displayDate = new Date(
    selectedDate[0],
    selectedDate[1] - 1,
    selectedDate[2]
  ).toLocaleDateString("en-us", {
    year: "numeric",
    month: "short",
    day: "numeric",
  });
  if (displayDate.toString() == "Invalid Date") {
    document.querySelector(".unavailability-date-display").innerHTML =
      "Select a date";
    
  } else {
    document.querySelector(".unavailability-date-display").innerHTML =
      displayDate;
      currentMonth = selectedDate[1] - 1;
      currentYear = Number(selectedDate[0]);
  }
  renderCalendar();
  
  loadUnavailabilityTableData();
</script>


{{end}}
