@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

/* .container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.calendar {
  width: 100%;
  max-width: 600px;
  padding: 20px 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}

.calendar .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}

.calendar .header .month {
  /* display: flex;
    align-items: center; */
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
}

.calendar .header .btns {
  display: flex;
  gap: 10px;
}

.calendar .header .btns .btn {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.calendar .header .btns .btn:hover {
  filter: brightness(115%);
  transform: scale(1.05);
}

.weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--primary-color);
  transition: all 0.3s;
}

.days .day.allDay {
  background-color: #D52941;
}

.days .day.partial {
  background-color: #E59F71;
}

.days .day:not(.next):not(.prev):not(.active):hover {
  color: #fff;
  filter: brightness(115%);
  transform: scale(1.05);
}

.days .day.today {
  color: #fff;
  /* border: 3px inset #1e212b; */
  /* transform: scale(1.14); */
}

.days .day.today:not(.allDay):not(.partial) {
  background-color: #035c49;
}

.days .day.today.partial:not(.allDay) {
  background-color: #c26224
}

.days .day.today.allDay {
  background-color: #A3320B;
}


.days .day.next,
.days .day.prev {
  color: #ccc;
}

.days .day.active {
  transform: scale(1.20);
  color: #fff;
}
.days .day:not(.today).active {
  filter: brightness(115%);
}
