.timebar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-grow: 1;
    padding: 20px 10px;
}

.timebar-grid {
    display: flex;
    flex-direction: column-reverse;
    border: 2px solid black;
    background-color: #009879;
    height: 250px;
    width: 30px;
}


.time-slot {
    flex-grow: 1;
    position:relative;
    height: 100%;
}

.time-box {
    flex-grow: 1;
}

.time-slot.allDay {
    background-color: #D52941;
  }
  
.time-slot.partial:not(.allDay) {
    background-color: #E59F71;
  }


.time-marker {
    position:absolute;
    width: 42px;
    font-size: 10px;
    font-weight: 500;
    bottom: -2px;
}

.am .time-marker {
    right: -46px;
}

.pm .time-marker {
    left: -46px;
}

.time-marker-start {
    bottom: -8px;
    right: -46px;
    display: none;
}