.timebar {
    display:inline-block;
    margin: 50px 0px;
    align-self: center;
}

.timebar-grid {
    display: flex;
    border: 2px solid black;
    background-color: #009879;
    height: 30px;
    width: 250px;
}


.time-slot {
    flex-grow: 1;
    height: 250%;
    position:relative;
    display:flex;
    flex-direction: column;
}

.time-box {
    /* border: 1px dashed pink; */
    width: 100%;
    height:26px;
    align-self: flex-start;
}

.time-slot .time-box.allDay {
    background-color: #D52941;
  }
  
.time-slot .time-box.partial:not(.allDay) {
    background-color: #E59F71;
  }


.time-marker {
    writing-mode: vertical-rl;
    text-orientation: upright;
    position:absolute;
    /* bottom: -4px; */
    /* right: -7px; */
    font-size: 10px;
    font-weight: 500;
}

.time-marker-start {
    left: -7px;
    right: auto;
}